.container {
  max-width: 1200px;
  margin: 0 auto;
  background: white;
  padding: 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 100%;
  }
}
.boxCover {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 15px;
  background-color: whitesmoke;

  .image {
    flex: 1 1 40%;
    max-width: 40%;
    overflow: hidden;
  }
  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 60%;
    max-width: 60%;
    padding: 15px;

    & .title:hover {
      color: rgb(145, 10, 10) !important;
    }
  }

  @media (max-width: 768px) {
    .image,
    .content {
      flex: 1 1 100%;
      max-width: 100%;
      padding: 15px 0 0;
      margin: 0;
    }
  }
}

.isMobile {
  display: none;
  font-weight: bold;
  margin-bottom: 10px;

  a {
    background: url(https://cdn-img.thethao247.vn/frontend/images/bg-min.svg?v=1) -50px -864px
      no-repeat;
    padding: 5px 4px 4px;
    font-size: 9px;
    color: #0d6eb7;
    text-transform: uppercase;
  }
}

@media (max-width: 768px) {
  .boxCover {
    background-color: white;
  }
  .isMobile {
    display: block;
  }
}

.boxItem {
  display: flex;
  flex-direction: column;

  .image {
    margin-bottom: 10px;
    width: 100%;
  }
  .boxTitle {
    font-size: 15px;
    font-weight: 600;
    display: block;
    color: black;
    margin-bottom: 10px;
    margin-bottom: 0;

    &:hover {
      color: rgb(145, 10, 10) !important;
    }
  }
  @media (max-width: 768px) {
    flex-direction: row;
    .image {
      margin-bottom: 0;
      margin-right: 10px;
      width: 25% !important;
    }
    .boxTitle {
      width: 75% !important;
      margin-bottom: 0;
    }
  }
}

.caption {
  border-bottom: 1px solid #000;

  a {
    background: #1a4599
      url("https://cdn-img.thethao247.vn/frontend/images/bg-min.svg?v=1") right -855px
      no-repeat;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 13px;
    padding: 4px 8px;
    width: fit-content;
  }
}

.boxList {
  display: flex;
  align-items: flex-start;
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;

  .thumb {
    flex: 0 0 196px; 
    transition: all 0.3s ease;

    img {
      object-fit: cover;
    }

    @media (max-width: 900px) {
      flex: 0 0 125px;
    }
  }

  a {
    text-decoration: none;
    color: #000;

    &:hover {
      color: #b22222; // màu đỏ đậm khi hover title
    }
  }

  .title {
    font-size: 18px;
    font-weight: 600;
    line-height: 1.4;
  }

  .summary {
    font-size: 14px;
    color: #666;
    margin-top: 6px;

    @media (max-width: 680px) {
      display: none;
    }
  }
}
