.verifyButton{
    background-color: var(--primary) !important;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;

    &:hover{
        background-color: #1a3c85 !important;
    }
}
.loginLink{
    color: #254892;
    font-weight: 500 ;
    cursor: pointer;   
}